@font-face {
	font-family: 'latolight';
	src: url('../fonts/Lato-Lig-webfont.eot');
	src: url('../fonts/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Lig-webfont.woff') format('woff'),
		 url('../fonts/Lato-Lig-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Lig-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoregular';
	src: url('../fonts/Lato-Reg-webfont.eot');
	src: url('../fonts/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Reg-webfont.woff') format('woff'),
		 url('../fonts/Lato-Reg-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Reg-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latobold';
	src: url('../fonts/Lato-Bol-webfont.eot');
	src: url('../fonts/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Bol-webfont.woff') format('woff'),
		 url('../fonts/Lato-Bol-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Bol-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media (min-width: 768px) {
	.page-services .container,
	.page-about .container,
	.page-resources .container,
	.page-daniel .container,
	.page-adriana .container,
	.page-payments .container,
	.page-footer .container {
		width: 680px;
	}
}

@media (min-width: 992px) {
	.page-services .container,
	.page-about .container,
	.page-resources .container,
	.page-daniel .container,
	.page-adriana .container,
	.page-payments .container,
	.page-footer .container {
		width: 700px;
	}
}

@media (min-width: 1200px) {
	.page-services .container,
	.page-about .container,
	.page-resources .container,
	.page-daniel .container,
	.page-adriana .container,
	.page-payments .container,
	.page-footer .container {
		width: 800px;
	}
}

body {
	font-family: latoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	margin: 1.5em 0 1em;
	font-family: latoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

h2 {
	margin-top: 0.75em !important;
}

h3 {
	color: #5fb760;
}

p {
	margin: 1em 0;
	font-family: latolight, "Helvetica Neue", Helvetica, Arial, sans-serif;;
	font-size: 150%;
	line-height: 1.5;
}

@media (max-width: 768px) {
	p {
		font-size: 125%;
	}
}

.text-light {
	font-family: latolight, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.text-bold {
	font-family: latobold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header {
	margin-bottom: 1.5em;
	font-family: latobold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.offset-navbar {
	padding-top: 70px;
}

.navbar-default .navbar-toggle {
	margin-top: 11px;
	padding: 4px 5px;
	font-size: 85%;
	color: #fff;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-brand {
	padding: 10px 30px 10px 15px;
}

.navbar-default .navbar-nav > li > a {
	color: #f0f0f0;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a > .fa {
	text-transform: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #479e49;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #377b38;
	color: #fff;
}

.navbar-default {
	border-bottom-color: #285828;
	background-color: #285828;
}

.page {
	padding: 2em 0;
	overflow: hidden;
}

.page-home {
	padding: 9em 0 7em;
	background: url(../img/personholisticinnovations-bg.jpg) bottom center no-repeat;
	background-size: cover;
	color: #fff;
}

.page-home .hero {
	max-width: 800px;
	margin: auto;
	padding: 1em 3em 2em;
	border-radius: 10px;
	/* background-color: rgba(0, 0, 0, .75); */

}

.page-home .hero > h1,
.page-home .hero > h2,
.page-home .hero > h3 {
	text-transform: none;
}

.page-home .hero > h1 {
	font-size: 2.50em;
}

.page-home .hero > h2 {
	font-size: 2.14em;
}

.page-services {
	background-color: #f7f7f7;
}

.page-daniel {
	background-color: #f7f7f7;
}

.page-adriana {
	padding-bottom: 6em;
	background-color: #fff;
}

.page-footer {
	background-color: #333;
	background: url(../img/personholisticinnovations-footer-bg.png) top left repeat;
	color: #fff;
}

.page-footer a {
	color: #fff;
	text-decoration: underline;
}

.page-footer .fa {
	padding: 0 2px;
}

.page-footer p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-payments {
	margin: 3em 0;
}

.about-headshot {
	padding: 20px 20px 20px 0;
}

.collapse,
.collapsing {
	margin-top: -20px;
}

.collapse-group {
	padding: 0 20px;
}

.collapse-group [data-toggle="collapse"] {
	color: #333;
}

.collapse-group .list-unstyled {
	padding-left: 20px;
}

.collapse-group .fa-plus-square-o {
	padding-right: 10px;
}

.collapsed .fa-minus-square-o:before {
	content: "\f196";
}

.page-services ul > li,
.page-about ul > li,
.page-resources ul > li {
	font-size: 150%;
	font-family: latolight, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}